/*START >>  */
body{
	max-width:1024px;
    margin:40px 100px 40px 100px;
    box-sizing:border-box;
    padding:0;
    margin:0;
    max-width:100%;
    border:1px solid red;
}

/****NAVIGATION****/
.nav-container{
    border:1px solid purple;
    width:100%;
	margin-bottom:75px;
    display:flex;
}

/* .nav-container nav, img{
	display:flex;
} */
.nav-container nav{
    border:1px solid purple;
    display:flex;
	align-items:center;
}

@media (max-width: 800px){
    .nav-container{
    background-color:red;
    flex-direction:column-reverse;
    align-items:center;
    }
    .nav-container img{
        margin-left:40px;
        max-width:35%;
    }
    .action-container img{
        display:none;
    }

}

nav a {
    border:1px solid purple;
    margin:0 40px 0 0;
	color:gray;
	text-decoration: none;
	color:rgba(128,128,128,.5);
}
.nav-container img{
    border:1px solid red;
    margin-left:40px;
}
.action-container{
	display:flex;
	justify-content: space-around;
	border-bottom: 1px solid black;
	padding-bottom:75px;
}
.action-container-inner{
	display:flex;
	flex-direction:column;
	justify-content: center;
	align-content:center;
}
.action-container-inner h1{
	text-align:center;
}

.action-container img{
	margin-left:20px;
}

h1{
	font-size:75px;
}
button{
	/* display:block; */
	margin:0 auto;
	background:white;
	border:1px solid black;
	padding:10px;
	width:40%;
	font-size:15px;
}
.section-top{
	display:flex;
	justify-content: space-between;
}
.content-first{
	display:flex;
	flex-direction:column;
	max-width:45%;
	margin:40px 0 40px 0;
}
.content-first:nth-child(1){
	margin-right:20px;
}
.content-first:nth-child(2){
	margin-right:20px;
}
.middle-img{
	width:100%;
}
.second-section{
	display:flex;
}
.content-second{
	max-width:30%;
	margin:40px 0 40px 0;
}
.content-second:nth-child(2){
	margin-left:40px;
	margin-right:40px;
}
.second-section{
	border-bottom:1px solid black;
}
#footer{
	margin-top:40px;
	font-family: 'Roboto', sans-serif;
}
#copyright{
	text-align:center;
	padding:100px;
}


